---
//TODO:merge card and icon
interface Props {
	title: string,
	class?: string
}

const {title, class: className} = Astro.props;
---
<div class=
"
	flex flex-col items-center justify-between
">
	<div
	
	 class= {
		`
			bg-secondary 
			flex justify-center items-center
			rounded-3xl
			border-b-[6px] border-r-[6px] border-tertiary box-border
			shadow-black/40 shadow-md
			${className}
		`
	 }
	>
		<slot />
	</div>
	<p>{title}</p>
</div>
