---
import Layout from "../layouts/Layout.astro";
import Card from "../components/astro/Card.astro";
import Icon from "../components/icons/Icon.astro";

interface CardData {
  title: string;
  href?: string;
  icon: string;
}


const CARDS: CardData[] = [
  {
    title: "Materias",
    href: "/subjects",
    icon: "book",
  },
  {
    title: "Planes de estudio",
    href: "/study_plans",
    icon: "route",
  },
  {
    title: "Alumnos",
    icon: "users",
  },
  {
    title: "Profesores",
    icon: "users",
  },
  {
    title: "Comisiones",
    icon: "clipboard_list",
  },
  {
    title: "Settings",
    icon: "settings",
  },
];
---

<Layout title="INICIO">
  <nav class="flex flex-wrap justify-evenly pt-6 gap-y-3">
    {
      CARDS.map((card) => (
        <a href={card.href}>
          <Card class=" size-44" title={card.title}>
            <Icon class="size-full p-5 text-white stroke-1" name={card.icon} />
          </Card>
        </a>
      ))
    }
  </nav>
</Layout>

<style></style>
