---
import Layout from "../layouts/Layout.astro";
import { type CardTextData } from "../models/CardTextData";
import CardAlt from "../components/astro/CardAlt.astro";
import CardAddNew from "../components/astro/CardAddNew.astro";
import { getStudyPlans } from "../services/studyPlans";

export const prerender = false;

const studyPlans = await getStudyPlans();
const CARDS: CardTextData[] = studyPlans.map((card) => {
        return {
                title: card.associated_Subject + " | " + card.year_Of_Creation,
        };
});
// console.log(data)
---

<Layout title="PLANES DE ESTUDIO">
        <nav class="flex flex-wrap justify-evenly pt-6 gap-y-3">
                <CardAddNew title="Nuevo plan" href="/subjects/new" card_class="w-40 h-10" icon_class="size-full text-white stroke-1"/>
                {
                        CARDS.length > 0? (CARDS.map((card) => (
                                <a href={card.href}>
                                        <CardAlt
                                                class="w-40 h-10"
                                                title={card.title}
                                        ></CardAlt>
                                </a>
                        ))) :
                        <p>¡Vaya! Parece que aún no hay planes de estudio.</p>
                }
        </nav>
</Layout>
