---
import Layout from "../layouts/Layout.astro";
import { type CardTextData } from "../models/CardTextData";
import {
        type StudyPlanCardResponse,
        STUDY_PLAN_CARD_API_URL,
} from "../components/response/StudyPlanCard";
import CardAlt from "../components/CardAlt.astro";
import CardAddNew from "../components/CardAddNew.astro";

export const prerender = false;

const response = await fetch(STUDY_PLAN_CARD_API_URL).then((response) =>
        response.json(),
);
const data: StudyPlanCardResponse[] = response.data;
const CARDS: CardTextData[] = data.map((card) => {
        return {
                title: card.associated_Subject + " | " + card.year_Of_Creation,
        };
});
// console.log(data)
---

<Layout title="PLANES DE ESTUDIO">
        <nav class="flex flex-wrap justify-evenly pt-6 gap-y-3">
                <CardAddNew title="Nuevo plan" href="/subjects/new" card_class="w-40 h-10" icon_class="size-full text-white stroke-1"/>
                {
                        CARDS.map((card) => (
                                <a href={card.href}>
                                        <CardAlt
                                                class="w-40 h-10"
                                                title={card.title}
                                        ></CardAlt>
                                </a>
                        ))
                }
        </nav>
</Layout>
