---
import Layout from '../layouts/Layout.astro';
import Card from '../components/Cards/Card.tsx'
import { type CardData} from '../models/CardData';
import CardAddNew from '../components/astro/CardAddNew.astro';
import { getSubjects } from '../services/subjects';


export const prerender = false;

const subjects = await getSubjects();
const CARDS: CardData[] = subjects.map((card) => {
  return {
    title: card.subject_Name,
    icon: card.icon_Name
  }
})
// console.log(data)

---

<Layout title="MATERIAS">
	<nav class="flex flex-wrap justify-evenly pt-6 gap-y-3">
    <CardAddNew title="Nueva materia" href="/add_subject" card_class="size-28" icon_class="size-full p-5 text-white stroke-1"/>
    {CARDS.length > 0?
      (CARDS.map(card => (
        <a href={card.href}>
          <Card icon={card.icon} title={card.title}/>
        </a>
      ))) :
      <p>¡Vaya! Parece que aún no hay materias.</p>
    }
	</nav>
</Layout>

<style>
	
</style>
